# Dependencies
node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production Build outputs
dist/
build/
stats.html

# Deployments / Hosting configurations
.vercel/
.netlify/
