@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
html.dark {
  background-color: black;
}

@keyframes talk {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.animate-talk {
  animation: talk 0.6s infinite ease-in-out;
}

.blinking-cursor {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@font-face {
  font-family: "GT-Flexa";
  src: url("https://assets.codepen.io/61488/GT-Flexa-VF-Trial.woff2");
  font-display: swap;
  font-style: normal italic;
  font-weight: 100 800;
  font-stretch: 10% 200%;
}

.font-jello {
  font-family: "GT-Flexa", sans-serif;
}

.shadow-jello {
  text-shadow: 0 0.05em 0 #ffb0c0, 0 0.1em 0.1em rgba(70, 0, 35, 0.3),
    0 0.4em 0.3em rgba(70, 0, 35, 0.1);
}
.shadow-jello {
  text-shadow: 0 0.05em 0 #ffb0c0, 0 0.1em 0.1em rgba(70, 0, 35, 0.3),
    0 0.4em 0.3em rgba(70, 0, 35, 0.1);
}
.image-text-hover {
  transition: all 0.5s ease-in-out;
}

.image-text-hover:hover {
  background-image: linear-gradient(to right, #e4e80d, #ff0000);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(34, 252, 0);
  -webkit-text-fill-color: transparent;
}
.mask-fade {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.blinking-cursor {
  animation: blink 1.05s step-end infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}
